#logout-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 4px 15px;
    background-color: #d80101;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}
#logout-btn:hover {
    background-color: #9b0000;
}

.btn-custom-red {
    background-color: #30186b;
    color: white;
    border: none;
    font-weight: bold;
    font-size: medium;
    position: relative;
}

.btn-custom-red:hover {
    background-color: #1e134b;
    color: white;
    font-weight: bold;
}

.custom-link {
    color: #30186b;
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: underline;
}

.input-container {
    position: relative;
}

.input-container .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-control.error {
    border-color: red;
}

.form-label {
    /*margin-right: 300px;*/
    text-align: left;
    display: block;
    /* color: #1e134b; */
    font-weight: bold;
}
.eye-icon {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.eye-icon:hover {
    color: #333;
}